# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de distribución
build/
dist/
*.egg-info/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de log y bases de datos locales
*.log
*.db
*.sqlite3